# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\Users\HFwaNg\IdeaProjects\LeetCode\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

/out/
/.gradle/
/.idea/

*.iml


# 推送到github branch git push -u github master